apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: devops-demo-mysql-allow-web
spec:
  podSelector:
    matchLabels:
      app: mysql-db
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: web-server
    ports:
    - protocol: TCP
      port: 3306
