apiVersion: v1
kind: Service
metadata:
  name: devops-demo-web
  labels:
    app: web-server
spec:
  type: NodePort
  selector:
    app: web-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
